body{
    margin: 0;
    padding: 0;
    background: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
}
.box{
    background: hsl(0, 0%, 12%);
    height: 70vh;
    width: 45vh;
    text-align: center;
    z-index: 95;
    
}
.container {
    height: 35vh;
    width: 20vw;
    z-index: 99;
    display: grid;
    grid-template-columns: 20vw;
    grid-template-rows: 20px 20px 20px 20px 20px;
    margin: auto;
    align-items: center;
    gap: 2.5em;
    

}
.container div{
    background-color: hsl(0, 0%, 20%);
    height: 35px;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
}


img{
    border-radius: 50%;
    width: 25%;
    margin-top: 10%;
    aspect-ratio: 1;
}
#name{
    margin-block-end: 5px;
}
#location{
    margin-block-start: 0;
    margin-block-end: 25px;
    color: hsl(75, 94%, 57%);
}
