body{
    margin: 0;
    padding: 0;
    background: hsl(0, 0%, 8%);
    min-height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
}
.box{
    background: hsl(0, 0%, 12%);
    height: 80%;
    width: 25%;
    position: absolute;
    text-align: center;
    
}




img{
    border-radius: 50%;
    width: 25%;
    margin-top: 10%;
    aspect-ratio: 1;
}
#name{
    margin-block-end: 5px;
}
#location{
    margin-block-start: 0;
    margin-block-end: 25px;
    color: hsl(75, 94%, 57%);
}
